{% extends "base.html" %}
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <head>
        <title>Login</title>
    </head>
    {% block content %}
        <div id='micssmenu'>
            <ul>
                <li class='has-sub' id="inicio"><a href='#'>Inicio</a></li>
                <li class='has-sub' ><a href='#'>Asignados</a>
                    <ul>
                        <li class='has-sub'><a href='#'>Opciones 1</a>
                            <ul>
                                <li><a href='#'>Una opcion</a></li>
                                <li><a href='#'>Una opcion</a></li>
                            </ul>
                        </li>
                        <li class='has-sub '><a href='#'>Opciones 2</a>
                            <ul>
                                <li><a href='#'>Una opcion</a></li>
                                <li><a href='#'>Una opcion</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li id="Facetas"><a href="{% url 'inicio' %}">Facetas</a></li>
                <li id="Perfil"><a href="{% url 'perfiles' %}" type="submit">Perfil Jugadores</a></li>
                <li id="Juegos"><a href="{% url 'juegos' %}">Tipos de Juegos</a></li>
                <li><a href='#'>Ayuda</a></li>
                <li><a href="{% url 'google' %}">Lectura XML</a></li>
                <li><a href="{% url 'mongo' %}">Mongo_DB</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mi Perfil:{{ request.session.user }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'index' %}">Cerrar Sesión</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">{{request.session.menu}}</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div id="cotenido">
            {% block contenido %}{% endblock %}
        </div>
        <script>
            function ActivarMenu(){
                var c = "{{ request.session.menu }}";
                if(c=="perfiles"){
                    document.getElementById("Perfil").className="active";
                    //document.getElementById("MyElement").className = "MyClass";
                }
                else if(c=="facetas"){
                    document.getElementById("Facetas").className="active";
                }
                else if(c=="juegos"){
                    document.getElementById("Juegos").className="active";
                }
            }
        window.onload=ActivarMenu();
        </script>
    {% endblock %}
</html>