{% extends "base_menu.htm" %}
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block head %}
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/cssmenu.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/perfiles.css' %}" />
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <title>Google</title>
        {% endblock %}
    {% block contenido %}
    <ul>
        <li>La localidad es {{ localidad.0 }} </li>
        <li>El area es {{ area.0 }} </li>
        <li>La provincia es {{ provincia.0 }} </li>
        <li>La comunidad es {{ comunidad.0 }} </li>
        <li>El pais es {{ pais.0 }} </li>
        {% for i in imagenes %}
        <li><img src="{{ i }}"></img> </li>
        {% endfor %}
    </ul>
    {% endblock %}
</html>