{% extends "base_menu.htm" %}
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block head %}
        <title>Google</title>
        {% endblock %}
    {% block contenido %}
    <ul>
        <li>La localidad es {{ localidad.0 }} </li>
        <li>El area es {{ area.0 }} </li>
        <li>La provincia es {{ provincia.0 }} </li>
        <li>La comunidad es {{ comunidad.0 }} </li>
        <li>El pais es {{ pais.0 }} </li>
        {% for i in imagenes %}
        <li><img src="{{ i }}"></img> </li>
        {% endfor %}
    </ul>
    {% endblock %}
</html>