{% extends "base_menu.htm" %}
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block head %}
        <title>Mis Juegos</title>
    {% endblock %}
    {% block contenido %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Perfil</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Seguro que desea eliminar el juego: {{datos.nombre}}? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="eliminar()" class="btn btn-danger">Sí, Deseo Eliminar</button>
                </div>
            </div>
        </div>
    </div>
        <div id="contenido">
            <div id="menu_lateral">
                <div id="lista_izq">
                    <ul id="milist">
                        {% for prueba in pruebas %}
                        <li>
                            <form id="listNombre" action="{% url 'cargarJuego' %}" method="post">{% csrf_token %}
                                {% if prueba.id == datos.id %}
                                    <input class="listnameactive" type="submit" name="perfil" id="{{prueba.id|safe}}" value="{{prueba.nombre|safe}}"  ></input>
                                {% else %}
                                    <input class="listname" type="submit" name="perfil" id="{{prueba.id|safe}}" value="{{prueba.nombre|safe}}"  ></input>
                                {% endif %}
                                <input id="soporte" type="hidden" name="valor" value="{{prueba.id|safe}}"></input>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <form action="{% url 'nuevoJuego' %}" method="post">{% csrf_token %}
                    <button class="btn btn-primary btn-block" id="aniadirli" type="submit" onclick="aniadirli()">
                        <span class="glyphicon glyphicon-plus"></span> Añadir Perfil</button>
                </form>
            </div>
            <div id="heuristica">
               <div id="menu_lateral_configuracion2">
                   {% if datos %}
                   <form id="formulario2">{% csrf_token %}
                       <div id="configIzq">
                           <b class="leyenda" id="Nombre">Nombre Juego</b>
                           <input class="form-control" id="nombre" type="text" name="nombre" value="{{ datos.nombre }}"></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="Son videojuegos en los que el protagonista debe avanzar en la trama interactuando con diversos personajes y objetos.">Aventuras <span class="badge">?</span></b>
                            <output class="valor" type="text" id="aventurasInput" value=""></output>
                            <input class="range" id="aventuras" type="range" name="aventuras" min="0" max="10" step="1" value="{{ datos.aventuras }}" oninput="myFunction()"list=volsettings></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="Los videojuegos de acción requieren que el jugador haga uso de sus reflejos, puntería y habilidad, a menudo en un contexto de combate o de superación de obstáculos y peligros">Acción <span class="badge">?</span></b>
                            <output class="valor" type="text" id="accionInput" value=""></output>
                            <input class="range"  id="accion" type="range" name="accion" min="0" max="10" step="1" value="{{ datos.accion }}" oninput="myFunction()"list=volsettings></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="Se caracterizán por situar la camara desde el punto de vista del personaje.">FP <span class="badge">?</span></b>
                            <output class="valor" type="text" id="fpInput" value=""></output>
                            <input class="range"  id="fp" type="range" name="fp" min="0" max="10" step="1" value="{{ datos.fp }}" oninput="myFunction()"list=volsettings></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="Este género se caracteriza por recrear situaciones o actividades del mundo real, dejando al jugador tomar el control de lo que ocurre.">Simulación <span class="badge">?</span></b>
                            <output class="valor" type="text" id="simulacionInput" value=""></output>
                            <input class="range"  id="simulacion" type="range" name="jugador" min="0" max="10" step="1" value="{{ datos.simulacion }}" oninput="myFunction()"list=volsettings></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="En los videojuegos de plataformas el jugador controla a un personaje que debe avanzar por el escenario evitando obstáculos físicos, ya sea saltando, escalando o agachándose.">Plataformas <span class="badge">?</span></b>
                            <output class="valor" type="text" id="plataformasInput" value=""></output>
                            <input class="range"  id="plataformas" type="range" name="logrador" min="0" max="10" step="1" value="{{ datos.plataformas }}" oninput="myFunction()"list=volsettings></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="Se caracterizan por la necesidad de manipular a un numeroso grupo de personajes, objetos o datos, haciendo uso de la inteligencia y la planificación, para lograr los objetivos. ">Estrategia <span class="badge">?</span></b>
                            <output class="valor" type="text" id="estrategiaInput" value=""></output>
                            <input class="range"  id="estrategia" type="range" name="espiritu" min="0" max="10" step="1" value="{{ datos.estrategia }}" oninput="myFunction()" list=volsettings></input>
                       </div>
                       <div id="configDer">
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="Los videojuegos de deportes son aquellos que simulan deportes del mundo real">Deporte <span class="badge">?</span></b>
                            <output class="valor" type="text" id="deporteInput" value=""></output>
                            <input class="range"  id="deporte" type="range" name="espiritu" min="0" max="10" step="1" value="{{ datos.deporte }}" oninput="myFunction()" list=volsettings></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="Los videojuegos de motor o de conducción sitúan al jugador en un recorrido en el que debe llegar a una meta antes que sus contrincantes o dentro de un tiempo límite">Motor <span class="badge">?</span></b>
                            <output class="valor" type="text" id="motorInput" value=""></output>
                            <input class="range"  id="motor" type="range" name="espiritu" min="0" max="10" step="1" value="{{ datos.motor }}" oninput="myFunction()" list=volsettings></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="Los videojuegos de rol, o RPG, se caracterizan por la interacción con el personaje, una historia profunda y una evolución del personaje a medida que la historia avanza">Rol <span class="badge">?</span></b>
                            <output class="valor" type="text" id="rolInput" value=""></output>
                            <input class="range"  id="rol" type="range" name="espiritu" min="0" max="10" step="1" value="{{ datos.rol }}" oninput="myFunction()" list=volsettings></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="Los sandbox son aquellos en los cuales se comienza prácticamente desde cero, creando prácticamente todo lo necesario para avanzar y transformar un mundo virtual propio">SandBox <span class="badge">?</span></b>
                            <output class="valor" type="text" id="sandboxInput" value=""></output>
                            <input class="range"  id="sandbox" type="range" name="espiritu" min="0" max="10" step="1" value="{{ datos.sandbox }}" oninput="myFunction()" list=volsettings></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="En este género los jugadores habrán de ir avanzando por turnos en un tablero virtual e ir superando diversas pruebas de tipos muy diversos en los que compiten entre sí por llegar lo antes posible a la meta, o conseguir la máxima cantidad posible de puntos.">Party <span class="badge">?</span></b>
                            <output class="valor" type="text" id="partyInput" value=""></output>
                            <input class="range"  id="party" type="range" name="espiritu" min="0" max="10" step="1" value="{{ datos.party }}" oninput="myFunction()" list=volsettings></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="Los juegos educativos son aquellos dirigidos a aportar unos conocimientos o habilidades al jugador durante el transcurso del mismo">Educativo <span class="badge">?</span></b>
                            <output class="valor" type="text" id="educativoInput" value=""></output>
                            <input class="range"  id="educativo" type="range" name="espiritu" min="0" max="10" step="1" value="{{ datos.educativo }}" oninput="myFunction()" list=volsettings></input>
                       
                            <b type="button" class="leyenda"  data-toggle="tooltip" data-placement="right" title="Su desarrollo gira en torno a la música, ya sean de tipo karaoke, de baile o en los que se tocan instrumentos musicales">Musical <span class="badge">?</span></b>
                            <output class="valor" type="text" id="musicalInput" value=""></output>
                            <input class="range"  id="musical" type="range" name="espiritu" min="0" max="10" step="1" value="{{ datos.musical }}" oninput="myFunction()" list=volsettings></input>
                            <input id="soporte2" type="hidden" name="id" value="{{datos.id|safe}}"></input>
                       </div>                       
                   </form>
                   <div class="bs-example" id="alerta2">
                       <div class="alert alert-success">
                           <a  href="#" class="close" data-dismiss="alert"></a>
                           <strong>Guardado!</strong> El Juego ha sido guardado con exito.
                       </div>
                   </div>
                   <button class="btn btn-primary"  id="guardar2" ><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                   {% endif %}
                   
                   <!-- Valores que salen en las barras de desplazamiento, no salen los numeros pero si los marcadadores -->
                   <datalist id=volsettings>
                       <option>0</option>
                       <option>2</option>
                       <option>4</option>
                       <option>6</option>
                       <option>8</option>
                       <option>10</option>
                   </datalist>
                </div>
                    <div id="grafico2"></div>
                    {% if datos %}
                    <button id="eliminar_Perfil2"class="btn btn-danger" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-minus"></span> Eliminar Perfil</button>
                    <form id="form_eliminar" action="{% url 'eliminarJuego' %}" method="post">{% csrf_token %}</form>
                    {% endif %}
            </div>
        
        <script>
            var aventuras;
            var accion;
            var fp;
            var simulacion;
            var plataformas;
            var estrategia;
            var deporte;
            var motor;
            var rol;
            var sandbox;
            var party;
            var educativo;
            var musical;
            
            {% if datos %}
                aventuras=document.getElementById('aventuras').value
                accion=document.getElementById('accion').value
                fp=document.getElementById('fp').value
                simulacion=document.getElementById('simulacion').value
                plataformas=document.getElementById('plataformas').value
                estrategia=document.getElementById('estrategia').value
                deporte=document.getElementById('deporte').value
                motor=document.getElementById('motor').value
                rol=document.getElementById('rol').value
                sandbox=document.getElementById('sandbox').value
                party=document.getElementById('party').value
                educativo=document.getElementById('educativo').value
                musical=document.getElementById('musical').value
                
            {%endif%}
            
            function myFunction() {
                // Fill series s1 and s2.
                {% if datos %}
                var d1 = document.getElementById('aventuras').value
                var d2 = document.getElementById('accion').value
                var d3 = document.getElementById('fp').value
                var d4 = document.getElementById('simulacion').value
                var d5 = document.getElementById('plataformas').value
                var d6 = document.getElementById('estrategia').value
                var d7 = document.getElementById('soporte2').value
                var d8 = document.getElementById('deporte').value
                var d9 = document.getElementById('motor').value
                var d10 = document.getElementById('rol').value
                var d11 = document.getElementById('sandbox').value
                var d12 = document.getElementById('party').value
                var d13 = document.getElementById('educativo').value
                var d14 = document.getElementById('musical').value
                
                var
                s1 = { label : 'Actual', data : [[0, d1], [1, d2], [2, d3], [3, d4], [4, d5], [5, d6],[6, d8],[7, d9],[8, d10],[9, d11],[10, d12],[11, d13],[12, d14]] },
                graph, ticks;
                s2 = { label : 'Guardado', data : [[0, aventuras], [1, accion], [2,fp ], [3, simulacion], [4, plataformas], [5, estrategia], [6, deporte], [7, motor], [8, rol], [9, sandbox], [10, party], [11, educativo], [12, musical]] },
                graph, ticks;
                
                // Radar Labels
                ticks = [
                         [0, "Aventuras"],
                         [1, "Acción"],
                         [2, "FP"],
                         [3, "Simulación"],
                         [4, "Plataformas"],
                         [5, "Estrategia"],
                         [6, "Deporte"],
                         [7, "Motor"],
                         [8, "Rol"],
                         [9, "SandBox"],
                         [10, "Party"],
                         [11, "Educativo"],
                         [12, "Musical"],
                         ];
                
                // Draw the graph.
                graph = Flotr.draw(document.getElementById("grafico2"), [s2,s1], {
                                   Size:0,
                                   radar : { show : true,color: '#FFF'},
                                   grid  : { circular : true, minorHorizontalLines : true},
                                   yaxis : { min : 0, max : 10, minorTickFreq : 1,},
                                   xaxis : { ticks : ticks,}
                                   });
                document.getElementById('aventurasInput').value=d1;
                document.getElementById('accionInput').value=d2;
                document.getElementById('fpInput').value=d3;
                document.getElementById('simulacionInput').value=d4;
                document.getElementById('plataformasInput').value=d5;
                document.getElementById('estrategiaInput').value=d6;
                document.getElementById('deporteInput').value=d8;
                document.getElementById('motorInput').value=d9;
                document.getElementById('rolInput').value=d10;
                document.getElementById('sandboxInput').value=d11;
                document.getElementById('partyInput').value=d12;
                document.getElementById('educativoInput').value=d13;
                document.getElementById('musicalInput').value=d14;
                {% endif %}
                document.getElementById("alerta2").style.visibility = "hidden";
                
            }
        window.onload=myFunction();
        
        $('#guardar2').click(function(){
                            var d1 = document.getElementById('aventuras').value
                            var d2 = document.getElementById('accion').value
                            var d3 = document.getElementById('fp').value
                            var d4 = document.getElementById('simulacion').value
                            var d5 = document.getElementById('plataformas').value
                            var d6 = document.getElementById('estrategia').value
                            var d7 = document.getElementById('soporte2').value
                            var d8 = document.getElementById('deporte').value
                            var d9 = document.getElementById('motor').value
                            var d10 = document.getElementById('rol').value
                            var d11 = document.getElementById('sandbox').value
                            var d12 = document.getElementById('party').value
                            var d13 = document.getElementById('educativo').value
                            var d14 = document.getElementById('musical').value
                            var d15 = document.getElementById('nombre').value
                            
                            $.post("{% url 'guardarJuego' %}",{aventuras:d1,accion:d2,fp:d3,simulacion:d4,plataformas:d5,estrategia:d6,id:d7,deporte:d8,motor:d9,rol:d10,sandbox:d11,party:d12,educativo:d13,musical:d14,nombre:d15,csrfmiddlewaretoken:'{{csrf_token}}'},
                                   function(result){
                                   document.getElementById("alerta2").style.visibility = "visible";
                                   timeoutID = window.setTimeout(function clerAlert() {
                                                                 document.getElementById("alerta2").style.visibility = "hidden";
                                                                 }, 2000);
                                   var
                                   s1 = { label : 'Actual', data : [[0, d1], [1, d2], [2, d3], [3, d4], [4, d5], [5, d6],[6, d8],[7, d9],[8, d10],[9, d11],[10, d12],[11, d13],[12, d14]] },
                                   graph, ticks;
                                   s2 = { label : 'Guardado', data : [[0, d1], [1, d2], [2, d3], [3, d4], [4, d5], [5, d6],[6, d8],[7, d9],[8, d10],[9, d11],[10, d12],[11, d13],[12, d14]] },
                                   graph, ticks;
                                   
                                   // Radar Labels
                                   ticks = [
                                            [0, "Aventuras"],
                                            [1, "Acción"],
                                            [2, "FP"],
                                            [3, "Simulación"],
                                            [4, "Plataformas"],
                                            [5, "Estrategia"],
                                            [6, "Deporte"],
                                            [7, "Motor"],
                                            [8, "Rol"],
                                            [9, "SandBox"],
                                            [10, "Party"],
                                            [11, "Educativo"],
                                            [12, "Musical"],
                                            ];
                                   
                                   // Draw the graph.
                                   graph = Flotr.draw(document.getElementById("grafico2"), [s2,s1], {
                                                      Size:0,
                                                      radar : { show : true,color: '#FFF'},
                                                      grid  : { circular : true, minorHorizontalLines : true},
                                                      yaxis : { min : 0, max : 10, minorTickFreq : 1,},
                                                      xaxis : { ticks : ticks,}
                                                      });
                                   document.getElementById('aventurasInput').value=d1;
                                   document.getElementById('accionInput').value=d2;
                                   document.getElementById('fpInput').value=d3;
                                   document.getElementById('simulacionInput').value=d4;
                                   document.getElementById('plataformasInput').value=d5;
                                   document.getElementById('estrategiaInput').value=d6;
                                   document.getElementById('deporteInput').value=d8;
                                   document.getElementById('motorInput').value=d9;
                                   document.getElementById('rolInput').value=d10;
                                   document.getElementById('sandboxInput').value=d11;
                                   document.getElementById('partyInput').value=d12;
                                   document.getElementById('educativoInput').value=d13;
                                   document.getElementById('musicalInput').value=d14;
                                   
                                   disruptor=d1;
                                   filantropo=d2;
                                   socializador=d3;
                                   jugador=d4;
                                   logrador=d5;
                                   espiritulibre=d6;
                                   document.getElementById(d7).value=d15;
                                   
                                   });
                            })
        </script>
        <script>
            function aniadirli()
            {
                var ul = document.getElementById("milist");
                var li = document.createElement("li");
                li.appendChild(document.createTextNode("Nuevo Juego"));
                ul.appendChild(li);
            }
        </script>
        <script>
            function eliminar(){
                var form = document.getElementById("form_eliminar");
                form.submit();
            }
        </script>
        <script>
            function guardar(){
                //var form = document.getElementById("formulario");
                //form.submit();
            }
        </script>
        <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
              })
        </script>
    {% endblock %}
</html>
