{% extends "base.html" %}
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% block head %}
    {% load staticfiles %}
    <title>{% block title %}MakeHeuristic{% endblock %}</title>
    
{% endblock %}
{% block content %}
    <div id="wrapper">
        <div id="container">
            <div id="content">
                <form action="{% url 'logear' %}" method="post">{% csrf_token %}
                    {% if show_remove_link%}
                    <p id="Error">El usuario o Contraseña No Existen</p>
                    <input id="user2" tabindex="1" class="inputtext" type="text"name="user"placeholder="Introduzca su Usuario"></input>
                    {% else %}
                    <input id="user" tabindex="1" class="inputtext" type="text"name="user"placeholder="Introduzca su Usuario"></input>
                    {% endif %}
                    <input id="password" tabindex="1" class="inputtext" type="password"name="password"placeholder="Introduzca su Contraseña"></input>
                    <br><br>
                    <a id="Olvido" href="http://www.ejemplo.com/fondo_escritorio.jpg">¿Olvidaste tu contraseña?</a>
                    <button id="login" type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </form>
                <form action="{% url 'registro' %}" method="get">{% csrf_token %}
                    <button id="Crear" type="submit"class="btn btn-info">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</html>
