{% extends "base.html" %}
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}" />
{% endblock %}
{% block content %}
    <div id="wrapper">
        <div id="container">
            <div id="content">
                <form action="{% url 'registro' %}" method="post">{% csrf_token %}
                        {{ form }}
                    <input type="submit" value="Registrar" class="btn btn-primary btn-lg boton">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</html>
