#previaAsignado{
    margin-left:50px;
    margin-right:50px;
    height:725px;
    width:auto;
    padding-left:20px;
    padding-right:20px;
    position: relative;
}
#Titulo{
    text-align:center;
    border-bottom-style: solid;
}
.headerAsignado{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size:20px;
    color: #317eac;
}
.headerAsignado2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size:20px;
    color: #317eac;
    float:right;
}
.heuristicaTabla{
    min-width: 580px;
}
#guardarRespuestas{
    position: absolute;
    bottom: 10px;
}
#textocomentario{
    width: 100%;
    height: 70%;
    resize:none;
}
#enviarResultado{
    position: absolute;
    bottom: 10px;
    left: 150px;
}
#eliminarAsignado{
    position: absolute;
    bottom: 10px;
    left: 350px;
}
#divPreguntas{
    height: 530px;
    overflow: scroll;
}