.leyenda{
    color:rgba(90, 120, 255, 1);
}
.leyenda:hover{
    cursor:pointer;
}
.valor{
    color:rgba(0, 120, 255, 1);
}
.range{
    margin-bottom:5%;
}
#grafico{
    margin-top:2%;
    margin-left:250px;
    height:500px;
    
}
#aniadirli{
    width:80%;
    position:absolute;
    bottom:20;
    left:20;
}

#alerta{
    height:10%;
    float:none;
    margin-top:3%;
}
#disruptorley{
    margin-top:10%;
}
#aniadirPerfil{
    width:100%;
}
#soporte{
    visibility: hidden;
}
#guardar{
    width:80%;
    position:absolute;
    bottom:20;
    left:20
}
#eliminar_Perfil{
    margin-top:15.3%;
    bottom:20;
    right:30;
    position:absolute;
}
#nombre{
    margin-bottom:4%;
    margin-top:4%;
}

#herramientas{
    height:80%;
    overflow:Scrollbar;
}

#menu_lateral_configuracion {
    width:250px;
    height:auto;
    min-height:745px;
    float: left;/*Para que se divida verticalmente y no horizontalmente, da igual left o right o eso parece*/
    background:  rgba(232, 232, 232, 0.5);
    text-align:center;
    position:relative;
    overflow:Scrollbar;
    
    
}

#formulario{
    height:auto;
    margin-top:5%;
    
    
}







